{% extends 'layout.html.twig' %}

{% set todoList = pimcore_relation("todoList").element %} 

{% block title %}{{todoList.Title}}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}
{% block content %}
    
<ul class="todoList">
    {% if editmode %}
        {{ pimcore_relation("todoList") }}
    {% else %}
        {% for task in todoList.todoList %}
            {% if task.isDone.data  %}
            <li><input type='checkbox' checked disabled> {{ task.task.data }}</li>
            {% else %}
            <li><input type='checkbox' disabled> {{ task.task.data }}</li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>
{% endblock %}

